# Ignore binary files
*.exe
*.dll
*.so
*.dylib

# Ignore application files
/app

# Ignore build files
/bin
/build
Makefile
/vendor/

# Ignore IDE and editor specific files
.idea/
.vscode/

# Ignore local configuration files
*.env
